         <!doctype html>
<html lang="en">
  <head>
    {% load static %}
  	<title>Banking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="{% static 'css/dispinf.css' %}">

<div class="wrapper">

  
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg" alt="profile card">
    </div>
    <div class="profile-card__cnt js-profile-cnt">
      {% for item in details_cust %}
      <div class="profile-card__name">{{ item.name }}</div>
      <div class="profile-card__txt">Customer Number: <strong>{{ item.custnum }}</strong></div>
      <div class="profile-card-loc">
        <span class="profile-card-loc__icon">
          <svg class="icon"><use xlink:href="#icon-location"></use></svg>
        </span>
      </div>
      <div class="profile-card__txt">Email ID: <strong>{{ item.email }}</strong></div>
      <div class="profile-card__txt">mobile Number: <strong>{{ item.phone }}</strong></div>
      <div class="profile-card__txt">Occupency: <strong>{{ item.occupency }}</strong></div>
      <div class="profile-card__txt">ID number: <strong>{{ item.idnumber }}</strong></div>
      <div class="profile-card__txt">Nationality: <strong>{{ item.nationality }}</strong></div>
      <div class="profile-card__txt">District: <strong>{{ item.district }}</strong></div>
      <div class="profile-card__txt">State: <strong>{{ item.state }}</strong></div>
      {% endfor %} 
      <div class="profile-card-ctr">
         <form action="/index/" method = 'POST'> {% csrf_token %}
        <button  class="profile-card__button button--blue js-message-btn" >GO back</button>
        </form>
        <form action="/printcustpdf/" method = 'POST'> {% csrf_token %}
        <button class="profile-card__button button--orange">Download E-card</button>
        </form>
      </div>
    </div>

    <div class="profile-card-message js-message">
      <form class="profile-card-form">
        <div class="profile-card-form__container">
          <textarea placeholder="Say something..."></textarea>
        </div>

        <div class="profile-card-form__bottom">
          <button class="profile-card__button button--blue js-message-close">
            Send
          </button>

          <button class="profile-card__button button--gray js-message-close">
            Cancel
          </button>
        </div>
      </form>

      <div class="profile-card__overlay js-message-close"></div>
    </div>

  </div>

</div>
  </defs>
</svg>
</body>
</html>